.photos-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.zoom-img-btn {
    display: block;
    padding: 10px 20px;
    background-color: lightgreen;
    color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 13px;
    margin-top: 10px;
    margin-left: auto;
}

.modal-wrapper {
    position: fixed;
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.744);
}

.modal-wrapper img {
    max-width: fit-content;
    width: 100%;
}

.modal-close {
    padding: 10px 20px;
    background-color: brown;
    color: aliceblue;
    border: transparent;
    border-radius: 13px;
    align-self: flex-start;
    margin-left: 50px;
}

.d-none {
    display: none;
}